<!-- Navigation Bar -->
<nav class="navbar">
    <div class="nav-container">
        <a href="#hero" class="nav-logo">VKS.</a>

        <div class="nav-right">
            <ul class="nav-links">
                <li><a href="#experience">Experience</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Builds</a></li>
                <li><a href="#contact">Connect</a></li>
                <li><a href="https://drive.google.com/file/d/1pYwLaWxlwE_ZIGNLiikC-OMWY3Gjhlsd/view?usp=sharing" target="_blank" rel="noopener noreferrer">Resume</a></li>
            </ul>
            <a href="https://main.d10kjb84vgfv3n.amplifyapp.com/" target="_blank" rel="noopener noreferrer" class="nav-blog-btn">Visit Blog</a>
            <button class="nav-agent-btn" id="nav-chatbot-btn">Start RAG Chatbot<span class="btn-glow"></span></button>
        </div>
    </div>
</nav>
